
<!DOCTYPE html>
<html lang="en">
<head>
  
    <style>
     
    </style>
</head>
<body>
    <h1><img src="{{ url_for('static', filename=user_info['profile_picture']) }}" alt="Profile Picture" width="200" height="200"></h1>



    <p>Hello {{ user_info.name }} <a href="{{ url_for('logout') }}">[Sign out]</a></p>
    <p>You are signed in with the email {{ user_info.email }}</p>
    <p>Current Indian Time: {{ current_time }}</p>

    <form method="post" action="{{ url_for('home') }}">
        <label for="num_lines">Number of Lines:</label>
        <input type="number" id="num_lines" name="num_lines" min="1" max="100" required>
        <button type="submit">Display</button>
    </form>

  
    {% if design_output %}
        <pre>{{ design_output }}</pre>
    {% endif %}
    
   
</body>
</html>


