<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1, p {
            margin-bottom: 10px;
        }

        img {
            max-width: 100px;
            border-radius: 50%;
            margin-right: 10px;
            vertical-align: middle; 
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    {% if user_info %}
        <h1><img src="{{ user_info.profile_picture }}" alt="Profile Picture"> </h1>
        <p>Hello {{ user_info.name }} <a href="{{ url_for('logout') }}">[Sign out]</a></p>
        <p>You are signed in with the email {{ user_info.email }}</p>
        <p>Current Indian Time: {{ current_time }}</p>
    {% else %}
        <h1>Welcome to the authentication app.</h1>
        <a href="{{ url_for('login') }}">Sign in with Gmail</a>
    {% endif %}
</body>
</html>


